{% extends "./base.html" %}
{% block content %}

<div class="content" id="tr">
    <div class="container text-center">
        <h1>Create Tracking URLs here</h1> <br>
        <form class="form-primary" style="display: inline-flex; padding-bottom: 1rem;">
            <input type="text" class="form-control" placeholder="Set Redirect URL" maxlength="256" required=""
                id="redirect_uri_id">
            <button type="button" class="btn btn-info" id="gen_code">Generate Code</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script_foot %}
<script>
    $(document).ready(function () {
        $("#gen_code").click(function () {
            console.log("CKKC");
            $.post("/createlink/",
                {
                    gen_code: "gen",
                    redirect_uri: $('#redirect_uri_id').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function (data) {
                    console.log("AjaX Res:", data);
                    var tr_code = data.code;
                    var redirect_uri = data.redirect_uri;

                    var result = '<div class="container alert alert-success" id="tr">' +
                        '<p id="trCode">Your Tracking URL is :' + '<strong>' + window.location.origin +
                        "/track/" + tr_code + '</strong> --> ' + redirect_uri + '</p></div>';
                    $("#tr").append(result);
                });
        });
    });
</script>
{% endblock script_foot %}