{% extends "./base.html" %}
{% block content%}

<div class="container-fluid track-header bg-primary">
    <h2>IP information for {{ tracking_code }}</h2>
</div>
<div class="container ipinfo">
    <ul class="list-group">
        {% for header,info in headers.items %}
        <li class="list-group-item"> {{ header }} : {{ info }}</li>
        {% endfor %}
    </ul>
    <ul class="list-group" id="jsdata">

    </ul>
</div>
{% endblock %}

{% csrf_token %}

{% block script_foot %}
    <script>
    //AJAX request to backend
    function sendIP(internal_ip) {
        $.post("/track/internal/", {
            tr_code : '{{ tr_code }}',
            internal : internal_ip,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(data){
            console.log(data.redirect_uri);
            window.location = data.redirect_uri;
        });
    };

    let getIP = function()
    {
        window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
        var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};      
        pc.createDataChannel("");    //create a bogus data channel
        pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
        pc.onicecandidate = function(ice){  //listen for candidate events
            if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
            var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
            console.log('my IP: ', myIP);
            pc.onicecandidate = noop;
            sendIP(myIP);
        };
    }

    getIP();
    </script>
{% endblock script_foot %}